body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    width: 100%;
    max-width: 1366px;
    height: 100vh;
    max-height: 768px;
    margin: 0 auto;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 85%;
    margin: 0 auto;
}
.header {
    position: relative;
    padding-top: 20px;
}
.logo {
    display: block;
    font-size: 0;
    width: 66px;
    height: 50px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.header-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.header-content__data,
.header-content__time {
    margin: 0;
    font-weight: 400;
}
.header-content__data {
    display: inline-block;
    color: #ffffff;
    width: auto;
    font-size: 14px;
    text-align: center;
    padding: 4px 8px;
    background-color: #b04fc9;
    border-radius: 4px;
    margin-bottom: 6px;
}
.header-content__time {
    color: #23599c;
    font-size: 18px;
}
.main {
    position: relative;
    padding-top: 60px;
}
.main-text {
    position: relative;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.main-text::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #00ff00;
    border-radius: 50%;
}
.main-title {
    width: 50%;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 60px;
}
.main-title span {
    color: #23599b;
}
.main-list {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 60px;
} 
.main-list__item {
    margin-bottom: 20px;
    font-weight: 500;
    padding-left: 80px;
}
.first,
.second {
    position: relative;
}
.first::before,
.second::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.first::before {
    background-image: url(../img/icon-1.png);
}
.second::before {
    background-image: url(../img/icon-2.png);
}
.main-descriptions {
    width: 50%;
    font-weight: 400;
}
.main-descriptions span {
    font-weight: 600;
}
.boy-png {
    position: absolute;
    width: 180px;
    height: 350px;
    background-image: url(../img/boy.png);
    bottom: 40px;
    right: 360px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
}
.form {
    position: absolute;
    right: 50px;
    top: -30px;
    width: 32%;
    height: 450px;
    padding: 50px 50px 0 50px;
    background-image: url(../img/form-bg.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    z-index: 5;
}
.form-title {
    margin: 0;
    padding: 10px 10px;
    font-weight: 700;
    font-size: 20px;
    color: #000;
}
.form-text {
    margin: 0;
    padding: 6px 10px 20px 10px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0,0,0,0.7);
}
.form-btn {
    display: block;
    width: 80%;
    font-size: 14px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    background-color: #eeeeee;
    border-radius: 8px;
    margin-bottom: 20px;
    font-weight: 600;
}
.facebook {
    color: #23599b;
    transition: all 0.3s;
}
.facebook:hover {
    background-color: #23599b;
    color: #ffffff;
}
.telegram {
    color: #2ba4e0;
    transition: all 0.3s;
}
.telegram:hover {
    background-color: #2ba4e0;
    color: #ffffff;
}
.viber {
    color: #b422ff;
    transition: all 0.4s;
}
.viber:hover {
    background-color: #b422ff;
    color: #ffffff;
}
.form-deskriptions {
    font-size: 14px;
    padding: 10px;
    color: #838383;
}
.timer-desing {
    position: absolute;
    content: "";
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background-image: url(../img/clock-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
}
.timer-wrapper {
    position: absolute;
    right: 120px;
    bottom: -100px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    z-index: 7;
}
.rocket {
    position: absolute;
    right: 0;
    top: -20px;
    width: 160px;
    height: 240px;
    background-image: url(../img/rocket.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
}
.timer-title {
    position: relative;
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: #838383;
    margin-bottom: 10px;
}
.countdown {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.countdown-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
}
.countdown-time {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #005ab6;
    color: #ffffff;
    font-weight: medium;
    font-size: 18px;
    padding: 10px 0;
    border-radius: 8px;
    margin-bottom: 10px;
    z-index: 10;
}
.countdown-text {
    font-size: 10px;
    color: #838383;
    margin: 0;
}

.timer-desing {
    position: absolute;
    right: 120px;
    bottom: 50px;
    width: 220px;
    z-index: 6;
}
.catch {
    position: absolute;
    right: 40px;
    bottom: 0;
    color: #76d84b;
    font-weight: 600;
    font-size: 28px;
    padding: 20px 30px;
    border: 2px dashed #76d84b;
    z-index: 7;
    transform: rotate(-30deg);
    opacity: 0.3;
}
.line {
    position: absolute;
    right: 200px;
    bottom: 20px;
    z-index: 6;
    width: 600px;
    height: 140px;
    background-image: url(../img/line.png);
    background-repeat: no-repeat;
    background-size: contain;
}
